/* Error: Undefined variable.
 *    ,
 * 13 |     background-color: $body-bg;
 *    |                       ^^^^^^^^
 *    '
 *   SASS\base\_reset.scss 13:23  @use
 *   sass\style.scss 2:1          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 13 \2502      background-color: $body-bg;\d\a    \2502                        ^^^^^^^^\a    \2575 \a   SASS\\base\\_reset.scss 13:23  @use\a   sass\\style.scss 2:1          root stylesheet";
}
