/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* estilos generales */
body {
  background-color: rgba(185, 2, 17, 0.842);
  color: #000000;
}

/* estilos de header */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 1rem;
  gap: 1.3rem;
}
header .botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
header .botones .boton-uno, header .botones .boton-dos, header .botones .boton-tres, header .botones .boton-cuatro, header .botones .boton-cinco {
  border-radius: 80px;
  padding: 1rem;
  font-size: 16px;
  font-weight: bolder;
}
header .botones .boton-uno {
  background-color: rgba(185, 2, 17, 0.842);
  width: 180px;
  height: 55px;
  transition: 1s;
}
header .botones .boton-uno:hover{
  transform: scale(1.1);
  background-color: red;
}
header .botones .boton-dos {
  background-color: rgba(185, 2, 17, 0.842);
  width: 200px;
  height: 55px;
  transition: 1s;
}
header .botones .boton-dos:hover{
  transform: scale(1.1);
  background-color: red;
}
header .botones .boton-tres {
  background-color: rgba(185, 2, 17, 0.842);
  width: 180px;
  height: 55px;
  transition: 1s;
}
header .botones .boton-tres:hover{
  transform: scale(1.1);
  background-color: red;
}
header .botones .boton-cuatro {
  background-color: rgba(185, 2, 17, 0.842);
  width: 180px;
  height: 55px;
  transition: 1s;
}
header .botones .boton-cuatro:hover{
  transform: scale(1.1);
  background-color: red;
}
header .botones .boton-cinco {
  background-color: rgba(185, 2, 17, 0.842);
  width: 180px;
  height: 55px;
  transition: 1s;
}
header .botones .boton-cinco:hover{
  transform: scale(1.1);
  background-color: red;
}
header a{
  font-size: 10px;
}

/* estilos de main */
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem 1.5rem;
  gap: 1rem;
}
main h1 {
  font-weight: bolder;
  font-size: 1.9rem;
}
main h1 span {
  display: block;
  color: #000000;
  text-decoration: underline;
}
main h2 {
  padding-inline: 1rem;
  box-sizing: border-box;
  margin: 1rem;
}
main h3 {
  padding-inline-start: 0.7rem;
  box-sizing: border-box;
  margin: 0.1rem;
}
main a {
  border-radius: 16px;
  padding: 1rem;
  font-size: 16px;
  font-weight: bolder;
}
main p {
  padding: 3rem;
  font-size: 1.3rem;
  padding-inline: 3rem;
  box-sizing: border-box;
  margin: 1rem;
  font-size: 1rem;
}
main .img {
  margin-top: 1rem;
  background-color: rgb(168, 168, 168);
  border-radius: 20px;
  padding: 1.3rem;
}
main .img img {
  width: 50%;
  object-fit: cover;
  border-radius: 20px;
  padding: 0.01rem;
}
main .wrapper {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
main .tarjeta {
  background-color: #e6e6e6;
  padding: 2rem;
  border-radius: 20px;
  gap: 1rem;
}
main .intro {
  flex: 1;
  padding: 1rem;
}

/* estilos de section */
section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem 1.5rem;
  gap: 1rem;
}
section .img img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 20px;
}
section .contenedor-tarjetas {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
section .contenedor-tarjetas .tarjeta {
  background-color: #e6e6e6;
  border-radius: 20px;
  padding: 1rem;
}
section .contenedor-tarjetas .tarjeta img {
  width: 50%;
}
section .tarjeta {
  background-color: #e6e6e6;
  padding: 1rem;
  border-radius: 20px;
  gap: 2rem;
}
section h2 {
  padding-inline: 4rem;
  box-sizing: border-box;
  margin: 1rem;
}
section h3 {
  padding-inline-start: 0.7rem;
  box-sizing: border-box;
  margin: 0.1rem;
}
section p {
  padding: 3rem;
  font-size: 1.3rem;
  padding-inline: 3rem;
  box-sizing: border-box;
  margin: 1rem;
  font-size: 1rem;
}
section .intro {
  padding: 1rem 3rem;
}

footer {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 3rem;
}

/* mq-tablet */
@media screen and (min-width: 768px) {
  header .botones {
    flex-direction: row;
    gap: 1rem;
  }
  main {
    padding: 4rem;
  }
  main h1 {
    font-size: 3.3rem;
  }
  main .img img {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-content: center;
  }
  section .contenedor-tarjetas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

/* mq-desktop */ 
@media screen and (min-width: 1024px) {
  header nav {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  main {
    padding: 2% 5%;
    text-align: center;
  }
  section .img {
    grid-area: img;
  }
  section .textos {
    grid-area: textos;
  }
  section .contenedor-tarjetas {
    grid-area: contenedor;
  }
}

/* mq-desktop */
@media screen and (min-width: 479px) {
header .botones .boton-uno, header .botones .boton-dos, header .botones .boton-tres, header .botones .boton-cuatro, header .botones .boton-cinco {
  border-radius: 80px;
  padding: 1rem;
  font-size: 16px;
  font-weight: bolder;
}
header .botones .boton-uno {
  background-color: rgba(185, 2, 17, 0.842);
  width: 124px;
  height: 55px;
  transition: 1s;
}
header .botones .boton-uno:hover{
  transform: scale(1.1);
  background-color: red;
}
header .botones .boton-dos {
  background-color: rgba(185, 2, 17, 0.842);
  width: 136px;
  height: 55px;
  transition: 1s;
}
header .botones .boton-dos:hover{
  transform: scale(1.1);
  background-color: red;
}
header .botones .boton-tres {
  background-color: rgba(185, 2, 17, 0.842);
  width: 100px;
  height: 55px;
  transition: 1s;
}
header .botones .boton-tres:hover{
  transform: scale(1.1);
  background-color: red;
}
header .botones .boton-cuatro {
  background-color: rgba(185, 2, 17, 0.842);
  width: 100px;
  height: 55px;
  transition: 1s;
}
header .botones .boton-cuatro:hover{
  transform: scale(1.1);
  background-color: red;
}
header .botones .boton-cinco {
  background-color: rgba(185, 2, 17, 0.842);
  width: 100px;
  height: 55px;
  transition: 1s;
}
header .botones .boton-cinco:hover{
  transform: scale(1.1);
  background-color: red;
}
main .contenedor-tarjetas .tarjeta{
  width: 500px;
}
section .contenedor-tarjetas .tarjeta{
  width: 500px;
}
}

/*# sourceMappingURL=main.css.map */
