//variables
@use "../utilities/variables" as *;
//mixin
@use "../utilities/mixin" as *;

@media screen and (min-width: 479px) {
    header .botones{
      .boton-uno, .boton-dos, .boton-tres, .boton-cuatro, .boton-cinco{
           border-radius: 80px;
           padding: 1rem;
           font-size: 16px;
           font-weight: bolder;
        }
      .boton-uno {
           background-color: rgba(185, 2, 17, 0.842);
           width: 147px;
           height: 55px;
           transition: 1s;
        }
      .boton-uno:hover{
           transform: scale(1.1);
           background-color: red;
        }
      .boton-dos {
           background-color: rgba(185, 2, 17, 0.842);
           width: 166px;
           height: 55px;
           transition: 1s;
        }
      .boton-dos:hover{
           transform: scale(1.1);
           background-color: red;
        }
      .boton-tres {
           background-color: rgba(185, 2, 17, 0.842);
           width: 100px;
           height: 55px;
           transition: 1s;
        }
      .boton-tres:hover{
           transform: scale(1.1);
           background-color: red;
        }
      .boton-cuatro {
           background-color: rgba(185, 2, 17, 0.842);
           width: 100px;
           height: 55px;
           transition: 1s;
        }
      .boton-cuatro:hover{
           transform: scale(1.1);
           background-color: red;
        }
      .boton-cinco {
           background-color: rgba(185, 2, 17, 0.842);
           width: 100px;
           height: 55px;
           transition: 1s;
        }
      .boton-cinco:hover{
           transform: scale(1.1);
           background-color: red;
        }
    }
    main{
      .contenedor-tarjetas .tarjeta{
           width: 500px;
      }
    }
    section{
      .contenedor-tarjetas .tarjeta{
           width: 500px;
      }
    }
}