//variables
@use "../utilities/variables" as *;
//mixin
@use "../utilities/mixin" as *;

@media screen and (min-width: 768px) {
    header{
        .botones{
           flex-direction: row;
           gap: 1rem;
        }
    }
    
    main{
        padding: 4rem;
        h1{
           font-size: 3.3rem;
        }
        .img{
            img{
              grid-template-columns: repeat(3, 1fr);
              grid-template-rows: auto;
              justify-content: center;  
            }
        }
    }
    
    section{
        .contenedor-tarjetas{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }
    }
}