//variables
@use "../utilities/variables" as *;
//mixin
@use "../utilities/mixin" as *;

/* estilos de header */
header{
   @include header(2rem 1rem, 1.3rem);
   .botones{
    @include botones;
    .boton-uno, .boton-dos, .boton-tres, .boton-cuatro, .boton-cinco{
        border-radius: 80px;
        padding: 2rem;
        font-weight: lighter;
    }
    .boton-uno{
        background-color: $color-principal;
    }
    .boton-dos{
        background-color: $color-principal;
    }
    .boton-tres{
        background-color: $color-principal;
    }
    .boton-cuatro{
        background-color: $color-principal;
    }
    .boton-cinco{
        background-color: $color-principal;
    }
   }
}

/* estilos de main */
main{
   @include main-section(0.5rem 1.5rem, 1rem);
   h1{
    font-weight: bolder;
    font-size: 1.9rem;
    span{
        display: block;
        color: $color-tipografia;
        text-decoration: underline;
    }
   }

   p{
    padding: 3rem;
    font-size: 1.3rem;
   }

   .img{
    margin-top: 1rem;
    background-color: $img-bg;
    @include border(20px, 1.3rem);
    img{
       width: 100%;
       height: 100%;
       object-fit: cover;
       @include border(20px, 0.01rem);
    }
   }

   .tarjeta{
        background-color: #e6e6e6;
        padding: 2rem;
        border-radius: 20px;
        gap: 1rem;
    }
}

/* estilos de section */
section{
    @include main-section(0.5rem 1.5rem, 1rem);
    .img{
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 20px;  
        }
    }
    .contenedor-tarjetas{
         display: flex;
         flex-direction: row;
         gap: 1rem;
         .tarjeta{
            background-color: #e6e6e6;
            @include border(20px, 2rem);
            img{
                width: 100%;
            }
         }
    }
}
